*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    
}
ul,
ol{
    list-style: none;
}

.table_section{
    display: flex;
    
    margin: auto;
    max-width: 1291px;
    width: 100%;
    margin-bottom: 138px;

    /* border: solid royalblue; */
}

table{
    width: 100%; 
}
tr{
    color: #AFAFAF;
    line-height: 62px;
    height: 72px;
    font: normal normal normal 16px/21px Avenir;
    
}
td {
    border-bottom: 2px solid #eaeaea;
    
}

.table_head {
    color: #111111;
}
.selected_colum {
    color: #222222;
    background: #F2F2F2;
}
.red_colum {
    color: #FF2288;
}